<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      Ubizo Events and Tours
    </a>

    <!-- TODO: Need to add some JS to toggle the burger -->
    <div class="navbar-burger burger ubi-burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu ubi-menu">
    <div class="navbar-end">
      <a class="navbar-item " href="#">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link ub-navbar-link is-active" href="#">
          What to Do
        </a>
        <div class="navbar-dropdown ub-dropdown">
          <div class="collec"><a class="navbar-item " href="#">
            Walk in our Shoes
          </a></div>
          <div class="collec"><a class="navbar-item " href="#">
            Ride with Us
          </a></div>
          <div class="collec"><a class="navbar-item " href="#">
            Custom Tour
          </a></div>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link ub-navbar-link is-active" href="#">
          About
        </a>
        <div class="navbar-dropdown ub-dropdown">
          <div class="collec"><a class="navbar-item " href="#">
            Our story
          </a></div>
          <div class="collec"><a class="navbar-item " href="#">
            Contact us
          </a></div>
        </div>
      </div>
      <a class="navbar-item " href="#">
        Get Involved
      </a>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button ub-pill" href="#">
              <!-- <span class="icon">
                <i class="fa fa-download"></i>
              </span> -->
              <span>Book Now</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>